/**
 * Layout and grid system
 */

html {
    background-color: #000;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    font-weight: 100;
    letter-spacing: -0.1rem;
    padding: 1rem;
}

.col {
    display: block;
    float: left;
    margin: 1% 0 1% 1.6%;
}

.col:first-child {
    margin-left: 0;
}

.group:before,
.group:after {
    content: "";
    display: table;
}

.group:after {
    clear: both;
}

.span_2_of_4 {
    width: 49.2%;
}

.span_1_of_5 {
    width: 18.72%;
}


/**
 * Time/Date
 */

#date {
    font-size: 1.5rem;
    letter-spacing: 0.2rem;
    text-align: center;
    text-transform: uppercase;
}

#time {
    font-size: 8rem;
    line-height: 1em;
    text-align: center;
}


/** 
 * Greeting/Quote
 */

#greeting {
    font-size: 4rem;
    text-align: center;
}

#quote {
    text-align: center;
}

#quote p {
    font-family: 'Roboto Slab', sans-serif;
    font-size: 2rem;
}

#quote .author {
    font-size: 2rem;
    font-style: italic;
    letter-spacing: -0.1rem;
}


/**
 * Weather
 */

#weather {
    font-size: 2rem;
    text-align: center;
}

#weather .hour {
    font-weight: normal;
}

#weather .owf {
    font-size: 4rem;
}


/**
 * Transport
 */

#transport {
    font-size: 2rem;
    padding: 0 2rem;
}

#transport .name {
    font-weight: normal;
}

#transport .status {
    text-align: right;
}